
#availableimg {
    width: 500px;
    max-width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
header, footer {
    font-family: 'Open Sans', sans-serif;
    color: #4cc9f0;
    background-color: #3a0ca3;
    padding: 10px 0;

}
h1 {
    margin: 0 10px;
}
h2  {
    color: #7209b7;
    margin: 40px 0 10px 0;
}
h3 {
    color: #4361ee;
    margin: 30px 0 5px 0;
}
#allcontent {
    min-width: 375px;
    margin: 0 auto;
    text-align: center;
}

nav {
    background-color: #4cc9f0;
    text-align: center;
}
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li a {
    display: block;
    color: #3a0ca3;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    
}
nav ul li a:hover {
    background-color: #3a0ca3;
    color: #4cc9f0;
}
#currentPage {
    text-decoration: underline;
}
#colorsImg {
    width: 400px;
    max-width: 100%;
}
#robotoFont {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
#opensansFont {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

.person {
    width: 300px;
    max-width: 100%;
}

/*

header, footer {
	background-color: #004b23;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    color: #ccff33;
}



footer #lastUpdated {
    font-size: 0.8em;
    color:#9ef01a;
}



nav ul li a:hover {
    background-color: #006400;
    color: #ccff33;
}
#domainImg {
    width: 400px;
    max-width: 100%;
}
#colorsImg {
    width: 400px;
    max-width: 100%;
}
#slabFont {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
}
#merryFont {
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}
*/