@media only screen and (min-width: 800px) {

    #heroDiv button {
        margin: 0 20px 20px 0;
        padding: 15px 15px;
    }
    #heroDiv h2 {
        margin: 10px 0;
    }
    #spotlightDiv3 {
        display: block;
    }
    #spotlightsDiv {
        height: 620px;
        display: grid;
        grid-template-columns:  1fr;
        align-content:stretch;
    }

    #mainHome {
        display: grid;
        grid-template-columns: 1fr 2.5fr 1fr;
        gap: 4px;
        grid-template-areas: 
        "eventsDiv heroDiv spotlightsDiv"
        "weatherDiv heroDiv spotlightsDiv"
        "joinDiv newsDiv spotlightsDiv";
    }
}