@media only screen and (min-width: 500px) {
.navigation li {
	display: block;
    list-style-type: none;
    background-color: #4cc9f0;
}
.navigation li a {
	display: block;
    text-align: center;
    padding: 5px 0;
}

.navigationButton li {
	display: none;
}

nav ul {
    display: flex;
}	
nav ul li {
    flex: 1 1 100%;
}

#cardsContainer {
    grid-area: cardsContainer;
    margin: 0 auto;
}

.grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

}