@media only screen and (min-width: 500px) {
.navigation li {
	display: block;
    list-style-type: none;
    background-color: #4cc9f0;
}
.navigation li a {
	display: block;
    text-align: center;
    padding: 5px 0;
}

.navigationButton li {
	display: none;
}

nav ul {
    display: flex;
}	
nav ul li {
    flex: 1 1 100%;
}

#heroDiv {
    grid-area: heroDiv;
}
#eventsDiv {
    grid-area: eventsDiv;
}
#weatherDiv {
    grid-area: weatherDiv;
}
#newsDiv {
    grid-area: newsDiv;
}
#spotlightsDiv {
    grid-area: spotlightsDiv;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#spotlightsDiv div {
    border: 1px solid;
}
#joinDiv {
    grid-area: joinDiv;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4px;
    grid-template-areas:
    "heroDiv heroDiv"
    "newsDiv newsDiv"
    "spotlightsDiv spotlightsDiv"
    "joinDiv joinDiv"
    "eventsDiv weatherDiv";
}

}