body {
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
header {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 0.6fr 4.2fr 1.2fr 0.8fr;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-areas: 
    "faviconImg title socialNetwork generalNav"
    "timeInfo timeInfo timeInfo timeInfo"
    "colapsableNav colapsableNav colapsableNav colapsableNav";

    background-color: #3a0ca3;
    color: #4cc9f0;
}

.icons {
    width: 30px;
    margin-left: 0px;
}
#heroDiv {
    grid-area: heroDiv;
}
#faviconImg {
    grid-area: faviconImg;
    width: 60px;
    margin: 0 10px 0 10px;
}
#title {
    grid-area: title;
}

#title h1 {
    margin: 10px 0;
}

#title h2 {
    font-size: 1em;
    margin: 5px 0;
}
#socialNetwork {
    grid-area: socialNetwork;
}

#generalNav {
    grid-area: generalNav;
}
#colapsableNav {
    grid-area: colapsableNav;
    justify-self: stretch;
}

#generalNav ul, #colapsableNav ul {
    padding: 0;
    margin: 5px 0 0 0;
}

#timeInfo {
    grid-area: timeInfo;
}

.navigationButton li {
	display: block;
}
.navigation li {
	display: none;
}

.navigation li a {
    text-decoration: none;
}
.navigation li a:hover {
    background-color: #3a0ca3;
    color: #4cc9f0;
}

.navigationButton li a {
    text-decoration: none;
    color: #4cc9f0;
}

.responsive li {
	display: block;
    list-style-type: none;
    background-color: #4cc9f0;
}
.responsive li a {
	display: block;
    padding: 5px 0;
    text-align: center;
}
#currentPage {
    text-decoration: underline;
}

main, header, footer {
    min-width: 415px;
}

#mainHome div {
    border: 2px solid black;
    height: 200px;
}
#mainHome div div {
    border: 1px solid black;
    height: 200px;
}

.memberLogo {
 max-width: 100%;
}
.spotlightDivs {
    text-align: center;
}
.spotlightDivs p {
    margin: 5px 0 5px 0;
}
.spotlightDivs h3 {
    margin: 9px 0 9px 0;
}
#spotlightDiv3 {
    display: none;
}

#heroDiv {
    overflow: hidden;
    height: auto;
    position: relative;
}

#heroDiv h2 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #3a0ca3;
    font-size: 2em;
    margin: 5px 0;
}

#heroDiv button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    padding: 15px;
    font-size: 1.5em;
    border-radius: 10px;
    color: #3a0ca3;
    background-color: #f72585
}

main div picture img {
    max-width: 100%;
}

#eventDiv {
    background-color: red;
}

#weatherDiv {
    text-align: center;
    background-color: #f72585;
    color: #4cc9f0;
    
}
#weatherDiv h2 {
    margin: 0;
    padding-top: 10px;
}

#conditionValue {
    margin: 6px 0 0 0;
}
#weatherDiv :nth-of-type(2) {
    margin: 0 0 6px 0;
}
#weatherDiv :nth-of-type(3), #weatherDiv :nth-of-type(4) {
    margin: 6px 0;
}

footer {
    background-color: #3a0ca3;
    color: #4cc9f0;
    padding: 10px 0;
    text-align: center;
}
footer p {
    margin: 10px 0;
}

#eventsDiv {
    background-color: yellow;
    display: flex;
    justify-content:center;
    align-items: center;
}

#mainContact form fieldset {
    display: flex;
    flex-direction: column;
    color: #3a0ca3;
}
#mainContact form fieldset * {
    margin: 8px;
    padding: 5px 0;
}

#mainContact form fieldset *::placeholder {
    color: #3a0ca3;
}

#contactButton {
    padding: 6px;
    margin: 8px 23px;
    border-radius: 10px;
    color: #3a0ca3;
    background-color: #f72585
}

#contactButton:hover {
    background-color: #ffffff;
    border-color: #f72585;
}
#contactMap {
    max-width: 100%;
}

#mainContact p, #mainContact h2 {
    color: #3a0ca3;
}

.grid {
    margin: 0 auto;
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}