body header img {
    width: 100px;
    height: 106px;
}
nav {
    background-color: #154e13;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}