img {
    height: 150px;
    margin:  15px 30px;
    border-radius: 6px;
}
header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    background-color: #dde5b6;
    max-width: 1000px;
    border-radius: 25px;
    margin: 20px auto;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: #dde5b6;
    max-width: 1000px;
    border-radius: 25px;
    margin: 0 auto;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
main ul li {
    font-size: 1.4em;
    margin: 10px 0;
}
footer p {
    font-size: 1.4em;
    margin: 15px 0;
}